<main>
    <div>
        <h1 class="text-center">{{color}} {{make}} {{model}} ({{year}})</h1>
        <hr>
    </div>
    <div class="mb-3">
        <div class="display-4 text-center">features</div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">

                    {{#with features}}
                    <div>
                        <div class="py-1">
                            <h4 class="text-center">interior</h4>
                        </div>
                        <br>
                        <div>
                            {{#with interior}}
                            <ul>
                                {{#with seats}}
                                <li>
                                    <div><b>seats:</b></div>
                                    <div class="py-2">material: {{material}}</div>
                                    <div>color: {{color}}</div>
                                    <div class="py-2">heated:
                                        {{#if heated}} <em>в наявності</em>{{/if}}</div>
                                    <div>ventilated:
                                        {{#if ventilated}} <em>в наявності</em>{{/if}}</div>
                                </li>
                                {{/with}}
                            </ul>
                            <ul>
                                {{#with dashboard}}
                                <li>
                                    <div><b>dashboard:</b></div>
                                    <div class="py-2">material: {{material}}</div>
                                    <div>color: {{color}}</div>
                                    <div class="py-2">display:
                                        <ul>
                                            {{#with display}}
                                            <li>{{type}},</li>
                                            <li class="py-2">{{size}},</li>
                                            <li>{{resolution}},</li>
                                            <li class="py-2">{{#if touchscreen}} <em>в наявності</em>{{/if}}</li>
                                            {{/with}}
                                        </ul>
                                </li>
                                {{/with}}
                            </ul>
                            <ul>
                                {{#with audio}}
                                <li>
                                    <div><b>audio:</b></div>
                                    <div class="py-2">system: {{system}}</div>
                                    <div>speakers: {{speakers}}</div>
                                    <div class="py-2">subwoofer:
                                        {{#if subwoofer}} <em>в наявності</em>{{/if}}</div>
                                    <div>bluetooth:
                                        {{#if bluetooth}} <em>в наявності</em>{{/if}}</div>
                                    <div class="py-2">USB:
                                        {{#if USB}} <em>в наявності</em>{{/if}}</div>
                                </li>
                                {{/with}}
                            </ul>
                            {{/with}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">

                    <div>
                        <h4 class="text-center">exterior</h4>
                    </div>
                    <br>
                    {{#with exterior}}
                    <ul>
                        {{#with wheels}}
                        <li>
                            <div><b>wheels:</b></div>
                            <div class="py-2">size: {{size}}</div>
                            <div>type: {{type}}</div>
                            <div class="py-2">color: {{color}}</div>
                        </li>
                        {{/with}}
                    </ul>
                    <ul>
                        {{#with headlights}}
                        <li>
                            <div><b>headlights:</b></div>
                            <div class="py-2">type: {{type}}</div>
                            <div>brightness: {{brightness}}</div>
                            <div class="py-2">automatic:
                                {{#if automatic}} <em>в наявності</em>
                                {{else}} <em>немає в наявності</em>
                                {{/if}}
                            </div>
                        </li>
                        {{/with}}
                    </ul>
                    <ul>
                        {{#with sunroof}}
                        <li>
                            <div><b>sunroof:</b></div>

                            <div>type: {{type}}</div>
                            <div>size: {{size}}</div>
                            <div>automatic:
                                {{#if automatic}} <em>в наявності</em>
                                {{else}} <em>немає в наявності</em>
                                {{/if}}
                            </div>
                        </li>
                        {{/with}}
                    </ul>
                    {{/with}}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">

                    <div>
                        <h4 class="text-center">safety</h4>
                    </div>
                    <br>
                    {{#with safety}}
                    <ul>
                        {{#with airbags}}
                        <li>
                            <div><b>airbags:</b></div>

                            <div class="py-1">front: {{front}}</div>
                            <div>side: {{side}}</div>
                            <div class="py-1">knee: {{knee}}</div>
                            <div>rear: {{rear}}</div>
                        </li>
                        {{/with}}
                    </ul>
                    <ul>
                        {{#with assistance}}
                        <li>
                            <div><strong>assistance:</strong></div>

                            <div class="py-2">blind spot monitoring:
                                {{#if blind_spot_monitoring}} <em>в наявності</em>
                                {{else}} <em>немає в наявності</em>
                                {{/if}}
                            </div>
                            <div>rear cross traffic alert:
                                {{#if rear_cross_traffic_alert}} <em>в наявності</em>
                                {{else}} <em>немає в наявності</em>
                                {{/if}}
                            </div>
                            <div class="py-2">lane departure warning:
                                {{#if lane_departure_warning}} <em>в наявності</em>{{/if}}
                            </div>
                            <div>adaptive cruise control:
                                {{#if adaptive_cruise_control}} <em>в наявності</em>{{/if}}
                            </div>
                            <div class="py-2 ">collision warning:
                                {{#if collision_warning}} <em>в наявності</em>{{/if}}
                            </div>
                        </li>
                        {{/with}}
                    </ul>
                    {{/with}}
                </div>
                {{/with}}

            </div>
        </div>
        <div class="my-1">
            <hr>
        </div>
        <div>
            <div>
                <div class="display-4 pb-4 text-center">engine</div>
            </div>

            <div class="mb-3">
                {{#with engine}}

                <div>type: {{type}}</div>
                <div class="py-2">displacement: {{displacement}}</div>
                <div>horsepower: {{horsepower}}</div>
                {{#with transmission}}
                <div class="py-2">torque: {{../torque}} / {{type}} / {{gears}} gears</div>
                {{/with}}
                {{/with}}
            </div>
        </div>
        <hr>
        <div>
            <div class="mb-3">
                <div class="display-4 text-center">fuel economy</div>
            </div>
            <div class="mb-3">
                {{#with fuel_economy}}
                <div>city: {{city}}</div>
                <div class="py-2">highway: {{highway}}</div>
                <div>combined: {{combined}}</div>
                {{/with}}
            </div>
        </div>
        <hr>
        <div>
            <div class="mb-3">
                <div class="display-4 text-center">price</div>
            </div>
            <div>
                {{#with price}}
                <div>base: {{base}}</div>
                <div class="py-2">destination: {{destination}}</div>
                <div class="pb-3">options:
                    <ul>
                        {{#with options}}
                        <li>
                            <div>navigation: {{navigation}}</div>
                        </li>
                        <li>
                            <div class="py-2">moonroof: {{moonroof}}</div>
                        </li>
                        <li>
                            <div>premium paint: {{premium_paint}}</div>
                        </li>
                        </li>
                        {{/with}}
                    </ul>
                    </p>
                    <h3>total: {{total}}</h3>
                    {{/with}}
                </div>
            </div>
</main>