<main>
    <div>
        <div>
            <h1>{{name}}</h1>
        </div>


        <div>
            <hr>
            <div class="row">
                {{#each users}}
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <div>
                                <h3 class="text-center">users:</h3>
                            </div>
                            <div><b>id:</b> {{id}}</div>
                            <div class="py-1"><b>name:</b> {{name}} ({{age}})</div>
                            <div><b>gender:</b> {{gender}}</div>
                        </div>
                        <div class="card-body">
                            {{#each friends}}

                            <h5 class="text-center">friends</h5>
                            <div><b>id:</b> {{id}}</div>
                            <div><b>name:</b> {{name}} ({{age}})</div>
                            <div><b>gender:</b> {{gender}}</div>

                            {{#each mutual_friends}}

                            <h5 class="text-center">mutual friends</h5>
                            <div><b>id:</b> {{id}}</div>
                            <div><b>name:</b> {{name}} ({{age}})</div>
                            <div><b>gender:</b> {{gender}}</div>

                            {{/each}}
                            <hr>

                            {{#each groups}}

                            <h5 class="text-center">groups</h5>
                            <div><b>id:</b> {{id}}</div>
                            <div><b>name:</b> {{name}}</div>
                            <div><b>description:</b> {{description}}</div>

                            {{#each members}}

                            <h5 class="text-center">members</h5>
                            <div><b>id:</b> {{id}}</div>
                            <div><b>name:</b> {{name}} ({{age}})</div>
                            <div><b>gender:</b> {{gender}}</div>

                            {{/each}}
                            <hr>

                            {{/each}}

                            {{/each}}

                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </div>
</main>