<main class="p-3">
    {{#with person}}
    <div>
        <div>
            <h2>
                {{name}}
            </h2>
        </div>

        <div>
            Вік: {{age}}
        </div>

        <div class="py-2">
            Стать: {{gender}}
        </div>

        <div>
            {{#with address}}
            Адреса: {{country}}, {{state}}, {{city}}, {{zip}}, {{street}}
            {{/with}}
        </div>
    </div>
    <hr>
    <div>
        {{> title data='Освіта' big=false}}
        <ul class="ps-0">
            {{#each education}}
            <li>
                Місце навчання: {{university}} (рік завершення - {{graduationYear}})
            </li>

            <li class="py-2">
                Спеціальність: {{major}}
            </li>

            <li>
                Освітній ступінь: {{degree}}
            </li>
            {{/each}}
        </ul>
    </div>
    <hr>
    <div>
        {{> title data='Досвід роботи' big=false}}
        <ul class="ps-0">
            {{#each workExperience}}
            <li>Компанія: {{company}} ({{year_founded}})</li>

            <li class="py-2">Посада: {{title}}</li>

            <li>Час роботи: ({{startDate}}) - ({{endDate}})</li>

            <li class="py-2">Обов'язки: {{responsibilities}}</li>
        </ul>
    </div>
    <hr>
    <div>
        {{> title data='Дані про роботодавця та команду' big=false}}
        <ul class="ps-0">
            {{#each employees}}
            <li>
                <div class="pb-2">
                    <b>Роботодавець:</b>
                </div>
                <div>{{name}} / {{position}} / {{department}}</div>
            </li>
            <hr>
            <li>
                <div>
                    <b>Проекти:</b>
                </div>

                {{#each projects}}
                <div class="py-2">
                    назва: {{name}} - ({{status}})
                </div>
                <p>
                    опис: {{description}}
                </p>
            </li>
            <hr>
            <li>
                <div>
                    <b>Команда:</b>
                </div>

                {{#each teams}}
                <div class="py-2">
                    Назва команди: {{team_name}}
                </div>

                {{#each team_members}}
                <div>Учасник: {{name}}</div>

                <div class="py-2">Посада: {{title}}</div>

                <div>Пошта: {{email}}</div>

                <div class="py-2">Навички:
                    {{#each skills}}
                    {{this}}
                    {{/each}}
                </div>
                <hr>
                <div>
                    <div><em>Проекти учасника:</em></div>
                    {{#each projects}}
                    <div class="py-2">Назва: {{name}}</div>

                    <div>Опис: {{description}}</div>

                    <div class="py-2">Технології:
                        {{#each technologies}}
                        {{this}},
                        {{/each}}
                    </div>

                    <div>Інші учасники проекту:</div>
                    {{#each team_members}}
            <li>
                <div class="py-1">{{name}}, {{title}}</div>
            </li>
            {{/each}}
    </div>
    {{/each}}
    </div>
    {{/each}}
    </div>
    {{/each}}
    {{/each}}
    </div>
    {{/each}}
    {{/each}}
    </section>
    {{/with}}
</main>