<div>

    {{#with program}}
    <section>
        {{> title data='Характеристика екскурсії' big=true}}
        <hr>
        <div>
            {{#with excursion}}
            <p>
                {{name}}
            </p>
            {{#with location}}
            {{city}}, {{country}} ({{../date}})
            {{/with}}
        </div>
    </section>
    <hr>
    <section>
        {{> title data='Програми:' big=true}}
        <p>
            {{program.[0].name}}
        </p>
        <p>
            {{program.[0].type}}
        </p>
        <p>
            {{program.[0].duration}}
        </p>
        {{#with museum}}
        {{name}}
        {{/with}}

        {{/with}}
    </section>
    {{/with}}
</div>