<div>
    {{#with program}}
    {{#with excursion}}
    <div>
        <h1>{{name}}</h1>
        {{#with location}}
        <p>Локація: {{city}}, {{country}}</p>
        <p>Дата: {{../date}}</p>
        {{/with}}
    </div>
    <div>
        {{#each program}}
        <hr>
        <h2>{{name}}</h2>
        <p>Тип: {{type}}</p>
        <p>Тривалість: {{duration}} години</p>
    </div>


    {{#if details.museum}}
    <h3>Інформація про музей:</h3>
    <p>Назва: {{details.museum.name}}</p>
    <p>Локація: {{details.museum.location.address}}, {{details.museum.location.city}},
        {{details.museum.location.country}}</p>
    <h3>Експонати:</h3>
    <ul>
        {{#each details.museum.exhibits}}
        <li>
            Назва: <strong>{{name}}</strong>

            <p>Художник:
                {{#if artist}}
                {{artist}}
                {{else}}
                невідомий</p>
            {{/if}}

            <p>Опис: {{description}}</p>

            <p>Аудіо-гід:
                {{#if audio_guide}} присутній
                {{else}} відсутній
                {{/if}}</p>
        </li>
        {{/each}}
    </ul>
    {{/if}}

    {{#with details}}
    {{#with venue}}
    <h3>Деталі:</h3>
    <p>Місце проведення: {{name}}</p>
    {{#with location}}
    <p>Локація: {{address}}, {{city}},{{country}}
        {{/with}}</p>
    {{/with}}

    <h3>Виконавці:</h3>
    <ul>
        {{#each performers}}
        <li>
            <p>Ім'я: <strong>{{name}}</strong></p>
            <p>Тип: {{type}}</p>
        </li>
        {{/each}}
    </ul>
    {{/with}}

    <h3>Гід:</h3>


    <p>Ім'я: {{details.guide.name}}</p>
    <p>Мова: {{details.guide.language}}</p>
    <p>Рейтинг: {{details.guide.rating}}</p>
    {{/each}}

    {{/with}}
    {{/with}}
</div>