<main class="col-12">

    {{> breadcrump}}

    <div class="row">
        {{#with productData}}
        <div class="col-6">
            <img class="card-img-top pt-2 pb-4" src="{{img}}">
            {{#with info}}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <div>{{about}}</div>
                    <h4>{{price}}</h4>
                    {{#each category}}

                    {{#if isHot}}
                    <span class="badge text-bg-warning rounded-pill text-light">{{name}}</span>
                    {{/if}}
                    {{#if isNew}}
                    <span class="badge text-bg-primary rounded-pill">{{name}}</span>
                    {{/if}}
                    {{#if isBonus}}
                    <span class="badge text-bg-info rounded-pill text-light">{{name}}</span>
                    {{/if}}

                    {{/each}}
                </div>
            </div>
        </div>
        {{/with}}

        <div class="col-5 ms-5">
            <table class="table ">
                {{#with item}}
                <thead>
                    <tr>
                        {{#each head}}
                        <th>
                            {{this}}
                        </th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each body}}
                    <tr>
                        {{#each this}}
                        <td>
                            {{this}}
                        </td>
                        {{/each}}
                    </tr>
                    {{/each}}
                </tbody>
                {{/with}}
            </table>
            {{#with param}}

            <div class="card mb-4">
                <div class="card-header">
                    <div class="card-title">{{title}}</div>
                </div>
                <ul class="list-group">
                    {{#each list}}
                    <li class="list-group-item ">
                        <div>{{this}}</div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/with}}

            {{#with alert}}
            {{#if isError}}
            <div class="alert alert-danger">{{text}}</div>
            {{/if}}
            {{/with}}

            {{/with}}
        </div>
    </div>

    {{#with productData}}
    <div class="card mb-5">
        <div class="card-body py-2">
            {{#each actionList}}
            <span><button class="btn m-1 {{#if isWarning}} text-light btn-warning {{/if}} 
            {{#if isError}}  btn-outline-danger {{/if}}
            {{#if isSuccess}}  btn-success {{/if}}
            {{#if isGood}} btn-outline-success {{/if}}">{{name}}
                </button></span>
            {{/each}}
        </div>
    </div>
    {{/with}}

    <hr>
    <div class="row">
        {{#with goodsOtherBlock}}
        <h2 class="text-center mt-5">{{title}}</h2>

        {{#each cards}}
        <div class="col-4 my-3 gx-2 py-2">
            {{> shopcard}}
        </div>
        {{/each}}
        {{/with}}
    </div>
    <div class="py-2">
        <hr>
    </div>
    {{> shopaction}}
    <div class="py-2">
        <hr>
    </div>
</main>