<main>
    <section class="col-12 row">
        {{#with newsBlock}}
        <div>
            <h2 class="text-center pt-5 pb-3">{{title}}</h2>
        </div>

        {{> shoppost}}

        {{/with}}
    </section>
    <hr>
    <section class="col-12 row">
        {{#with goodsBlock}}

        <div class="nav nav-tabs">
            {{#each tabs}}
            <div class="nav-item">
                <a href="#" class="nav-link 
                {{#if isActive}} active {{/if}} 
                {{#if isDisabled}} disabled {{/if}}">
                    {{text}}</a>
            </div>
            {{/each}}
        </div>
        {{#each cards}}
        <div class="col-4 my-3 gx-2 py-2">
            {{> shopcard}}
        </div>
        {{/each}}

        {{/with}}
    </section>
    <hr>
    <section class="my-4">
        {{#with subscribe}}
        <div class="card text-bg-dark p-2">
            <h2 class="pb-2 ps-1">{{header}}</h2>
            <p class="ps-1">{{description}}</p>

            {{#each buttons}}
            <a href="{{link}}">
                <div class="pb-2 ps-1">
                    <button class="btn btn btn-primary">{{text}}</button>
                </div>
            </a>
            {{/each}}
        </div>
        {{/with}}
    </section>
    <hr>
    {{> shopaction}}
    <hr>

</main>