<main class="col-12">
    <div>
        {{#with navigation}}
        <div class="card">
            <div class="nav">
                {{#each links}}
                <div class="nav-item py-2">
                    <a href="{{href}}" class="nav-link active">{{text}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </div>
    <div>
        <ol class="breadcrumb my-4 ms-3">
            {{#each breadcrumb}}
            <li class="breadcrumb-item ">
                <a href="{{url}}">{{name}}</a>
            </li>
            {{/each}}
        </ol>
    </div>
    <div class="row g-4">
        {{#with productData}}
        <div class="col-6">
            <img class="card-img-top pt-2 pb-4" src="{{img}}">
            {{#with info}}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <div>{{about}}</div>
                    <h4>{{price}}</h4>
                    {{#each category}}

                    {{#if isHot}}
                    <span class="badge text-bg-warning rounded-pill text-light">{{name}}</span>
                    {{/if}}
                    {{#if isNew}}
                    <span class="badge text-bg-primary rounded-pill">{{name}}</span>
                    {{/if}}
                    {{#if isBonus}}
                    <span class="badge text-bg-info rounded-pill text-light">{{name}}</span>
                    {{/if}}

                    {{/each}}
                </div>
            </div>
        </div>
        {{/with}}
        <div class="row g-4">
            <div class="card px-3 py-2">
                {{#each actionList}}

                {{#if isWarning}}
                <span><button class="btn btn-warning text-light">{{name}}</button></span>
                {{/if}}
                {{#if isError}}
                <span><button class="btn btn-outline-danger">{{name}}</button></span>
                {{/if}}
                {{#if isSuccess}}
                <span><button class="btn btn-success">{{name}}</button></span>
                {{/if}}
                {{#if isGood}}
                <span><button class="btn btn-outline-success">{{name}}</button></span>
                {{/if}}

                {{/each}}
            </div>
        </div>

        <div class="col-5">
            <table class="table ">
                {{#with item}}
                <thead>
                    <tr>
                        {{#each head}}
                        <th>
                            {{this}}
                        </th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each body}}
                    <tr>
                        {{#each this}}
                        <td>
                            {{this}}
                        </td>
                        {{/each}}
                    </tr>
                    {{/each}}
                </tbody>
                {{/with}}
            </table>
            {{#with param}}
            <div class="card mb-4">
                <div class="card-header">
                    <div class="card-title">{{title}}</div>
                </div>
                <ul class="list-group">
                    {{#each list}}
                    <li class="list-group-item ">
                        <div>{{this}}</div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/with}}

            {{#with alert}}
            {{#if isError}}
            <div class="alert alert-danger">{{text}}</div>
            {{/if}}
            {{/with}}


            {{/with}}
        </div>


    </div>
    <hr>
    <div class="row">
        {{#with goodsOtherBlock}}

        <h2 class="text-center mt-5">{{title}}</h2>

        {{#each cards}}
        <div class="col-4 my-3 gx-2 py-2">
            <div class="card">
                <img class="card-img-top" src="{{image}}">
                <div class="card-body">
                    <div class="card-title">
                        {{title}}
                        {{#if isHot}}
                        <span class="badge text-bg-warning rounded-pill">Hot</span>
                        {{/if}}
                        {{#if isNew}}
                        <span class="badge text-bg-primary rounded-pill ">New</span>
                        {{/if}}
                    </div>
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
        {{/each}}
        {{/with}}

    </div>
    <hr>
    <div class="card text-bg-success my-5 p-2">
        {{#with service}}
        <h2 class="text-center">{{title}}</h2>
        <p class="text-center">{{description}}</p>

        {{#each buttons}}
        <a href="{{link}}">
            <div class="pb-2 ps-1 text-center">
                <button class="btn btn btn-primary">{{text}}</button>
            </div>
        </a>
        {{/each}}
        {{/with}}
    </div>
    <hr>
    <div class="row">
        {{#each footer}}

        <div class="nav col-2">
            {{#each this}}
            <div class="nav-item">
                <a href="{{link}}" class="nav-link active">
                    {{text}}</a>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
</main>