<main>
    {{#with web}}
    <div>
        {{> title data='Інструменти в програмуванні' big=true}}
    </div>
    <div>
        {{#each languages}}
        <hr>
        <h3 class="pt-2">{{name}} ({{version}})</h3>
        <div class="py-4"><em>{{description}}</em></div>
    </div>
    <div>
        {{#if elements}}
        <b>HTML Elements:</b>
        <ul class="ps-0">
            {{#each elements}}
            <li>
                <div class="py-2"><b>{{name}}</b>: {{description}}</div>
                <div>
                    {{#if attributes}}
                    <ul>
                        {{#each attributes}}
                        <li class="mb-1">
                            <b><em>{{name}}</em></b>: {{description}}
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
    </div>
    <div>
        {{#if properties}}
        <b>CSS Properties:</b>
        <ul class="ps-0">
            {{#each properties}}
            <li>
                <div class="py-2"><b>{{name}}</b>: {{description}}</div>
                {{#if values}}
                <ul>
                    {{#each values}}
                    <li class="mb-1">
                        <b><em>{{value}}</em></b>: {{description}}
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
    <div>
        {{#if functions}}
        <b>JavaScript Functions:</b>
        <ul class="ps-0">
            {{#each functions}}
            <li>
                <div class="py-2"><b>{{name}}</b>: {{description}}</div>
                {{#if parameters}}
                <ul>
                    {{#each parameters}}
                    <li class="mb-1">
                        <b><em>{{name}}</b></em>: {{description}}
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
    {{/each}}
    {{/with}}
</main>