<div>
    {{#with web}}
    <div>
        {{> title data='Інструменти в програмуванні' big=true}}
    </div>
    <div>
        {{#each languages}}
        <hr>
        <h3>{{name}} ({{version}})</h3>
        <p><em>{{description}}</em></p>
    </div>
    <div>
        <br>
        {{#if elements}}
        <strong>HTML Elements:</strong>
        <ul>
            {{#each elements}}
            <br>
            <li>
                <strong>{{name}}</strong>: {{description}}
                <div>
                    {{#if attributes}}

                    <ul>
                        <br>
                        {{#each attributes}}
                        <li>
                            <b><em>{{name}}</em></b>: {{description}}
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</div>
<div>
    <br>
    {{#if properties}}
    <strong>CSS Properties:</strong>
    <ul>
        {{#each properties}}
        <br>
        <li>
            <b>{{name}}</b>: {{description}}
            {{#if values}}
            <ul>
                <br>
                {{#each values}}
                <li>
                    <b><em>{{value}}</em></b>: {{description}}
                </li>
                {{/each}}
            </ul>
            <br>
            {{/if}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
</div>
<div>
    {{#if functions}}
    <strong>JavaScript Functions:</strong>
    <ul>
        <br>
        {{#each functions}}

        <li>
            <b>{{name}}</b>: {{description}}
            {{#if parameters}}
            <ul>
                <br>
                {{#each parameters}}
                <li>
                    <b><em>{{name}}</b></em>: {{description}}
                </li>
                {{/each}}
            </ul>
            <br>
            {{/if}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
</div>
{{/each}}
{{/with}}
</div>